<!DOCTYPE html>
<html>
	<head>
	<meta charset="utf-8">
	<title>szehoot</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
		<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="../stylesheets/bootstrap/bootstrap.min.css">
		<link rel="stylesheet" href="../stylesheets/main_styles.css">
		<link rel="stylesheet" href="../stylesheets/edit.css">
		<script src="/socket.io/socket.io.js"></script>

	</head>
	<body>

        <div id="tipp">
            <input id="tippem">
            <button class="button button0" id="BT" onclick="doAjax();" >Beküld</button>
        </div>
		<div id='tabla_szam'>
        </div>
		<!-- bar -->
		<div id="divsor">
			<input id="cim">
			<p id="Bar"></p>
		</div>

		<div id="editor">
			

			<!-- file -->
			<!-- <div class="file-upload-wrapper">
 		 	 <input type="file" id="input-file-now-custom-2" class="file-upload"
			  data-height="500" data-max-file-size="5M" />
			</div> -->
			<div  class="kep" id="kep"></div>

			<textarea id=elem cols="5" rows="5"></textarea>
			<form ref='uploadForm' 
			id='uploadForm' 
			action='http://localhost:3000/upload' 
			method='post' 
			encType="multipart/form-data" accept=".gif, .jpg, .png, .doc" >
			  <input type="file" name="sampleFile" />
			  <input type='submit' value='Upload!' />
		  </form>     

			<p></p>
			<input class="button1" id="BT1">
			<input class="button2" id="BT2">
			<p></p>
			<input class="button3" id="BT3">
			<input class="button4" id="BT4">
			<p></p>
			<button class="button" id="BT7" onclick="dosave();" >Ment</button>

			</div>
		</div>

		<button class="button" id="BT5" onclick="doadd();" >Hozzá ad</button>
		<button class="button" id="BT6" onclick="dodel();" >Töröl</button>


<script src="../javascripts/list.js"></script>
<p></p>

<a href="/logout">Kijelentkezés!</a>

	</body>
</html>
