<!DOCTYPE html>
<html>
	<head>
	<meta charset="utf-8">
	<title>szehoot</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
		<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="../stylesheets/bootstrap/bootstrap.min.css">
		<link rel="stylesheet" href="../stylesheets/main_styles.css">
		<link rel="stylesheet" href="../stylesheets/edit.css">
		<script src="/socket.io/socket.io.js"></script>

	</head>
	<body>

        <div id="tipp">
            <input id="tippem">
            <button class="button button0" id="BT" onclick="doAjax();" >Beküld</button>
        </div>
		<div id='tabla_szam'>
        </div>
		<!-- bar -->
		<div id="divsor">
			<input id="cim">
			<p id="Bar"></p>
		</div>

		<div id="editor">
			<div id="kep"></div>
			<textarea id=elem cols="5" rows="5"></textarea>
			<p></p>
			<input class="button1" id="BT1">
			<input class="button2" id="BT2">
			<p></p>
			<input class="button3" id="BT3">
			<input class="button4" id="BT4">
			</div>
		</div>

		<button class="button button0" id="BT5" onclick="doadd();" >Hozza ad</button>
		<button class="button button0" id="BT6" onclick="dodel();" >torol</button>


<script src="../javascripts/list.js"></script>
<p></p>

<a href="/logout">Kijelentkezés!</a>

	</body>
</html>
