<h1>Üdvözöllek a kezdőlapon!</h1>
	<p>Itt majd valami dashboard szerű lesz, ami az aktualitásokat mutatja.</p>
	<div id="tipp">
		<input id="tippem">
		<button class="button button0" id="BT" onclick="doAjax();" >Beküld</button>
		<button class="button button0" id="BT" onclick="PDF();" >PDF</button>
		<button class="button button0" id="BT" onclick="EXP();" >EXP</button>
		<button class="button button0" id="BT" onclick="RESEXP();" >RESULT_EXPORT</button>
		<button class="button button0" id="BT" onclick="MAIL();" >EMAIL</button>
		
		<form id='importForm' action="IMPORT" method="POST" encType="multipart/form-data">
			<input type="file" id = "importFile" name="importFile" />
			<input type="submit" class="button button0" id="BT" value="IMPORT" title="IMPORT" />
		</form>
		
		<form id='testPost' action="pdf" method="POST">
			<input type="hidden" id = "postTippem" name="postTippem" />
		</form>
		<form id='testexp' action="exp" method="POST">
			<input type="hidden" id = "postexp" name="postexp" />
		</form>
		<form id='testresexp' action="resexp" method="POST">
			<input type="hidden" id = "postresexp" name="postresexp" />
		</form>
		<form id='testmail' action="resmail" method="POST">
			<input type="hidden" id = "postmail" name="postmail" />
		</form>
	</div>

	<div id='tabla_szam'>
	</div>
	<!-- menu -->
	<div id="menuline">
			<!-- time -->
		<label for="timeset"> Időkorlát:</label>
		<select name="timeset" id="timeset">
		</optgroup>
		<optgroup label="Seconds">
			<option value="10">10</option>
			<option value="15">15</option>
			<option value="20">20</option>
			<option value="30">30</option>
			<option value="45">45</option>
			<option value="50">50</option>
		</optgroup>
		<optgroup label="Minutes">
			<option value="60">1:00</option>
			<option value="70">1:10</option>
			<option value="75">1:15</option>
			<option value="80">1:20</option>
			<option value="90">1:30</option>
		  </select>
		  <!-- points -->
		  <label for="points">Pontszám:</label>
		<select name="points" id="points">
			<option value="100">100</option>
			<option value="200">200</option>
			<option value="300">300</option>
			<option value="400">400</option>
			<option value="500">500</option>
			<option value="600">600</option>
			<option value="700">700</option>
			<option value="800">800</option>
			<option value="900">900</option>
			<option value="1000">1000</option>
		  </select>
		  <!-- tipus -->
		  <label for="type">Tipus:</label>
		  <select name="type" id="type">
			  <option value="1">Tipp mix</option>
			  <option value="2">Igaz / hamis</option>
			  <option value="3">Felelet választós 3 lehetőség</option>
			  <option value="4">Felelet választós 4 lehetőség</option>
			  <option value="5">Több jó válasz</option>
			</select>

			<div id="CountTime" class="CountTime"></div>
		<button class="buttonsav" id="BT7" onclick="dosave();" >Ment</button>


	</div>

	<!-- bar -->
	<div id="divsor">
		<input id="cim">
		<p id="Bar"></p>
		<button class="buttonadd" id="BT5" >Hozzá ad</button>
	</div>

	<div id="editor">
		

		<form ref='uploadForm' 
		id='uploadForm' 
		action='http://localhost:3000/upload' 
		method='post' 
		encType="multipart/form-data" accept=".gif, .jpg, .png, .doc"
		 >
		<div id="dnd" class="kep"  ondragover="preventszar(event)" ondragenter="preventszar(event)" ondrop="dropped(event)">
			huzd ide
		</div>
		<input id="fileUploadField" type="file" name="sampleFile" hidden />

		  <input type='submit' value='Upload!' hidden  />
	  </form>
	  <input class="kepurl" id="kepurl" value="URL"> 
		<textarea id="bbcode-textarea" cols="5" rows="5"></textarea>
		<p></p>
		
		<input class="jelol" id="r1" type="radio" value="1" name="radio">
		<input class="jelol" type="checkbox" id="box1">
		<input class="button1" id="BT1">
		<input class="jelol" id="r2" type="radio" value="2" name="radio">
		<input class="jelol" type="checkbox" id="box2">
		<input class="button2" id="BT2">
		<p></p>
		<input class="jelol" id="r3" type="radio" value="3"  name="radio">
		<input class="jelol" type="checkbox" id="box3">
		<input class="button3" id="BT3">
		<input class="jelol" id="r4" type="radio" value="4"  name="radio">
		<input class="jelol" type="checkbox" id="box4">
		<input class="button4" id="BT4">
		<input class="kozepbox" id="megold">
		<p></p>

		<button class="buttondel" id="BT8" onclick="dotrol();" >Töröl!!</button>

		<div id="popUpDiv">
			<select id="popupSelect">
				<option value="none" selected disabled hidden>
					Válasz egy lehetőséget
				<option value="1">Tipp mix</option>
				<option value="2">Igaz / hamis</option>
				<option value="3">Felelet választós 3 lehetőség</option>
				<option value="4">Felelet választós 4 lehetőség</option>
				<option value="5">Több jó válasz</option>
			</select>
		</div>


		</div>
	</div>




<script src="../javascripts/list.js"></script>
<p></p>

<a href="/logout">Kijelentkezés!</a>