<!DOCTYPE html>
<html>
	<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<link rel="stylesheet" href="../stylesheets/bootstrap/bootstrap.min.css">
		<link rel="stylesheet" href="../stylesheets/main_styles.css">
	</head>
	<body>	
	<form action="/login" method="post">
		<div class="container fastjoin">
			<div class="card mt-5">
			<div class="card-header">
			<div class="row justify-content-center">
				<div class="col-8">
					<h5 style="text-align: right" class="card-title">Gyors belépés</h5>
				</div>
				<div class="col-4">
					<span style="width: 30px; height: 30px;" class="iconify" data-icon="mdi:run-fast" data-inline="false"></span>
				</div>
			</div>

			</div>
				<div class="form-group mb-3 mt-2"> 
					<label class="form-label" for="pincode"><b>Pinkód</b></label>
					<input class="form-control" type="text" pattern="[0-9]{5}" placeholder="Formátum: 00000" name="pincode" required>
				</div>
				<div class="form-group mb-3"> 
					<label class="form-label" for="nickname"><b>Becenév</b></label>
					<input class="form-control" type="text" placeholder="Írj be egy tetszőleges becenevet" name="nickname" required>
				</div>
				<button class="btn btn-primary mt-2" type="submit" id="gomb" onclick="">Csatlakozás</button>
			</div>
	</form>


	</body>
</html>
