<section class='form'>
	<form action="signup" class="needs-validation" method="post" id="regform" novalidate>
		<fieldset>
		<div class="container signup">
			<div class="card mt-5">
			<div class="card-header">
			<div class="row justify-content-center">
				<div class="col-12">
					<h5 style="text-align: center;" class="card-title">Regisztráció <span style="width: 30px; height: 30px;" class="iconify" data-icon="heroicons-solid:user-add" data-inline="false"></span></h5>
				</div>

			</div>

			</div>
				<div class="form-group mb-3 lastname"> 
					<label class="form-label" for="lastname"><b>Teljes név:</b></label>
					<div class="row">
						<div class="col-2">
							<select class="form-control" id="inputGroupSelect02">
								<option value="1" selected>-</option>
								<option value="2">Dr.</option>
							</select>
						</div>
						<div class="col-5"><input class="form-control" onchange="" type="text" id="lastname" name="lastname"></div>
						<div class="col-5"><input class="form-control" onchange="" type="text" id="firstname" name="firstname"></div>
					</div>
					<div class="valid-feedback">
					<span id="valid-text"></span>
					</div>
					<div class="invalid-feedback">
					<span id="invalid-text"></span>
					</div>
				</div>

				
				<div class="form-group mb-3 firstname"> 
					<label class="form-label" for="firstname"><b>Neme:</b></label>
					<select class="form-control" id="inputGroupSelect02">
						<option value="" disabled selected>Kérem válasszon!</option>
						<option value="1">Nő</option>
						<option value="2">Férfi</option>
						<option value="3">Egyéni</option>
					</select>
					<div class="valid-feedback">
					<span id="valid-text"></span>
					</div>
					<div class="invalid-feedback">
					<span id="invalid-text"></span>
					</div>
				</div>

				<div class="form-group mb-3 username"> 
					<label class="form-label" for="username"><b>Felhasználónév:</b></label>
					<input class="form-control" onchange="user_validator()" type="text" id="username" name="username">
					<div class="valid-feedback">
					<span id="valid-text"></span>
					</div>
					<div class="invalid-feedback">
					<span id="invalid-text"></span>
					</div>
				</div>
				
				<div class="form-group mb-3 mt-2 password"> 
					<label class="form-label" for="password"><b>Jelszó</b></label>
					<input class="form-control" onblur="pw_validator()"  type="password" id="password" name="password">
					<div class="valid-feedback">
					<span id="valid-text"></span>
					</div>
					<div class="invalid-feedback">
					<span id="invalid-text"></span>
					</div>
				</div>
				<div class="form-group mb-3 mt-2 passwordc"> 
					<label class="form-label" for="passwordc"><b>Jelszó megerősítése</b></label>
					<input class="form-control" onblur="pw_validator()"  type="password" id="passwordc" name="passwordc">
					<div class="valid-feedback">
					<span id="valid-text"></span>
					</div>
					<div class="invalid-feedback">
					<span id="invalid-text"></span>
					</div>
				</div>
				<div class="form-group mb-3 mt-2 email"> 
					<label class="form-label" for="email"><b>E-mail cím</b></label>
					<input class="form-control" onblur="email_validator()"  type="email" id="email" name="email">
					<div class="valid-feedback">
					<span id="valid-text"></span>
					</div>
					<div class="invalid-feedback">
					<span id="invalid-text"></span>
					</div>
				</div>

				<button class="btn btn-primary mt-2" type="submit" id="gomb" >Regisztráció</button>
			</div>
		</div>
		</fieldset>
	</form>
</section>
<!--
	<% if (typeof locals.loggedIn !== 'undefined') { %>
		<% if (!loggedIn) { %>
			<p>Hibás felhasználónév vagy jelszó!</p>
		<% } %>
	<% } %>
-->
<script>
	var user_valid = false
	var pw_valid = false
	var email_valid = false

		function user_validator()
		{
			if ($( "#username" ).val() != "") {
			//user nem üres
				if ($("#username").val().match(/^[A-Za-z0-9]{3,20}$/)){
					//ha megfelel az elvártaknak
					$.ajax({url:"signup_validator", type:"POST", data: ({target: 'username', username: $("#username").val()}), async:true, cache:false, success:function(result) 
						{
						var data = JSON.parse(JSON.stringify(result));
						console.log(data);
						if (data.exists) {
							//létezik már a username
							$(".username #invalid-text").text( "A felhasználó név már foglalt!" );
							$('#username').removeClass('is-valid');
							$('#username').addClass('is-invalid');
							user_valid = false;
						} else {
							//szabad a felhasználónév
							$('#username').removeClass('is-invalid');
							$('#username').addClass('is-valid');
							$(".username #valid-text").text( "Elfogadva!" );
							user_valid = true;
						}
					}});

				} else {
					//nem felel meg az elvártaknak
					$(".username #invalid-text").text( "A felhasználónév csak alfanumerikus karaktereket tartalmazhat, és minimum 3 legfeljebb 20 karakter hosszúságú lehet." );
						$('#username').removeClass('is-valid');
						$('#username').addClass('is-invalid');
						user_valid = false;
				}
			} else {
						//nincs kitöltve a mező
						$(".username #invalid-text").text( "A mező kitöltése kötelező!" );
						$('#username').removeClass('is-valid');
						$('#username').addClass('is-invalid');
						user_valid = false;
				//nincs kitöltve a mező
			}
		};

		function pw_validator()
		{
			if ($( "#password" ).val() != "") {
				//jelszó nem üres
				if ($("#password").val().match(/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])[0-9a-zA-Z]{8,}$/))
				{
					//a jelszó megfelel az elvártaknak
					$(".password #valid-text").text( "Elfogadva!" );
						$('#password').removeClass('is-invalid');
						$('#password').addClass('is-valid');
					if ($("#password").val() == $("#passwordc").val()) {
						//a két jelszó egyezik
						$(".password #valid-text").text( "Elfogadva!" );
						$('#password').removeClass('is-invalid');
						$('#password').addClass('is-valid');
						$(".passwordc #valid-text").text( "Elfogadva!" );
						$('#passwordc').removeClass('is-invalid');
						$('#passwordc').addClass('is-valid');
						pw_valid = true;
					} else {
						//a két jelszó nem egyezik
						// $(".password #invalid-text").text( "A két jelszó nem egyezik!" );
						// $('#password').removeClass('is-valid');
						// $('#password').addClass('is-invalid');
						if ($( "#passwordc" ).val() != "") {
						$(".passwordc #invalid-text").text( "A két jelszó nem egyezik!" );
						$('#passwordc').removeClass('is-valid');
						$('#passwordc').addClass('is-invalid');
						pw_valid = false;
					}
					}
				} else {
					//a jelszó nem megfelelő
					$(".password #invalid-text").text( "A jelszónak legalább 8 karaktert kell tartalmaznia, melyben van legalább egy kisbetű és nagybetű, valamint egy szám." );
						$('#password').removeClass('is-valid');
						$('#password').addClass('is-invalid');
						pw_valid = false;
				}
			} else {
				//a jelszó üres
				$('#password').removeClass('is-valid');
			    $('#password').addClass('is-invalid');
                $('#passwordc').removeClass('is-valid');
                $('#passwordc').addClass('is-invalid');
				$( ".password #invalid-text" ).text( "A mező kitöltése kötelező!" );
				pw_valid = false;
			}
		};

		function email_validator()
		{
			if ($( "#email" ).val() != "") {
				//ha nem üres
				if ($("#email").val().match(/^(([^<>()[\]\.,;:\s@\"]+(\.[^<>()[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/)){
					//ha megfelel az e-mail
					//Regexp: https://stackoverflow.com/questions/46155/how-to-validate-an-email-address-in-javascript
					$.ajax({url:"signup_validator", type:"POST", data: ({target: 'email', email: $("#email").val()}), async:true, cache:false, success:function(result)
						{
						var data = JSON.parse(JSON.stringify(result));
						console.log(data);
						if (data.exists) {
							//létezik már az email
							$(".email #invalid-text").text( "Az e-mail cím már foglalt!" );
							$('#email').removeClass('is-valid');
							$('#email').addClass('is-invalid');
							email_valid = false;
						} else {
							//nem létezik még
							$(".email #invalid-text").text( "Elfogadva!" );
							$('#email').removeClass('is-invalid');
							$('#email').addClass('is-valid');
							email_valid = true;
						}
					}});
				} else {
				//ha nem felel meg
				$(".email #invalid-text").text( "Az e-mail cím nem felel meg a formai követelményeknek! Minta: user@domain.hu" );
				$('#email').removeClass('is-valid');
				$('#email').addClass('is-invalid');
				email_valid = false;
				}
			} else {
				//üres
				$(".email #invalid-text").text( "A mező kitöltése kötelező!" );
				$('#email').removeClass('is-valid');
				$('#email').addClass('is-invalid');
				email_valid = false;
			}
		};

     function logSubmit(event) {
		 user_validator();
		 pw_validator();
		 email_validator();
		 console.log(user_valid);
		 console.log(pw_valid);
		 console.log(email_valid);
		 if (user_valid && pw_valid  && email_valid) {
			console.log('Minden ok!');
			return;
		 }
        event.preventDefault();
        }

		const form = document.getElementById('regform');
        form.addEventListener('submit', logSubmit);

	</script>
