  #myDIV {
	border: 1px solid black;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 210px;
	height:	150px;
	text-align: center;
	padding-top: 30%;
	cursor: pointer;
 	}
  #divsor {
	border: 1px solid black;
	margin-bottom: 10px;
	width: 230px;
	height:	600px;
	overflow-y: scroll;
	float:left;
 	}
  #editor {	
	border: 1px solid black;
	overflow: hidden; 
	margin-bottom: 10px;
	width: 700px;
	height:	600px;
 	}
  #elem {	
	overflow: hidden; 
	margin-bottom: 10px;
	margin-left: 5px;
	margin-top: 5px;
	width: 380px;
	height:	300px;
 	}
  textarea {
    border: 1px solid black;
	 resize: none;
  }

.button1 {
    background-color: #7fdd82; 
    color: black; 
    border: 2px solid #009e05;
    width: 340px;
    height:	80px;
    text-align: center;
    margin-left: 5px;
  }

.button2 {
    background-color: #f16363; 
    color: black; 
    border: 2px solid #ba0000;
    width: 340px;
    height:	80px;
    text-align: center;
  }

.button3 {
    background-color: #73c5e0; 
    color: black; 
    border: 2px solid #008CBA;
    width: 340px;
    height:	80px;
    text-align: center;
    margin-left: 5px;
  }
          
.button4 {
  background-color: #df6ff5 ; 
  color: black; 
  border: 2px solid #a7009e;
  width: 340px;
  height: 80px;
  text-align: center;
}

.kep {
    height: 300px;
    width: 300px;
  	margin-top: 5px;
  	margin-left: 5px;
    border: 1px solid black;
    float:left;
}