

.signup {
	max-width: 600px;
}

#version {
    margin: 0px;
    padding: 5px;
    font-size: x-small;
    float: right;
}


.editProfileDiv {
    padding: 15px;
}
.editProfileDiv > .card {
    border: none;
}

.dropdown-menu {
    right: 0 !important;
    left: auto !important;
}

.table {
    --bs-table-hover-bg: #e7f1ff;
}
/* test/create */

.trash-icon {
    height: 1.5rem;
    /* font-size: 20px; */
    /* margin-right: 5px; */
}

.modify-icon {
    height: 1.5rem;
    margin: 8px; 
    color: #bf9b25;
}

.save-icon {
    height: 1.2rem;
    margin-right: 2px;
}

.export-icon {
    height: 1.2rem;
    margin-right: 2px;
}

.import-icon {
    height: 1.2rem;
    margin-right: 2px;
}

.btn-export {
    background-color: antiquewhite;
    border-color: #f7ddbb;
}

.btn-export:hover {
    background-color: #f7ddbb;

}

.plus-icon {
    flex: none;
}

.notification-icon {
    height: 1.5rem;
    margin: 8px; 
}

.clock-icon {
    height: 1.5rem;
    margin: 0px;
    color: grey; 
}

.star-icon {
    height: 1.5rem;
    margin: 0px;
    color: grey; 
}

.answers-icon {
    height: 1rem;
}

.reward-icon {
    height: 1.5rem;
    margin: 0px;
    font-size: 18px;
    color: grey; 
}

#kepBox {
    height:300px !important;
    margin: auto !important;
}

.plus-icon>a>svg:hover {
    color: cornflowerblue;
}

.task-header
{
    color: grey;
}


.card-taskbar:hover > div:first-of-type:not(:last-child){
    background-color: rgba(0,0,0,.09);
}

.card-taskbar:hover {
cursor:pointer;
}

.toolbar {
    font-size: 24px;
}

#characters {
    font-weight: normal;
}

#type-1 textarea, #type-2 textarea {
resize: none;
}

.labels {
    margin-bottom: 15px;
    font-weight: bold;
}

.task-labels>span {
    line-height: 1.2;
    text-align: center;
}

#contenteditor {
    min-height: 500px;
    border: 1px solid rgba(0,0,0,.125); 
    border-radius: .25rem; padding: 20px;
}
#taskNumber {
    font-size: 1.5rem;
}
.plr-5px {
    padding: 0px 5px 0px 5px
}
#imageDiv {
    width: 100%;
    min-height: 300px;
    border: black 1px solid;
    margin-top: .5rem;
}
#textDiv {
    width: 100%;
    min-height: 338px;
    border: black 1px solid;
    margin-top: .5rem;
}
#dnd {
    width: 100%;
    min-height: 300px;
}

.answerDiv {
    width: 100%; 
    min-height: 50px;
}
#trueAnswer {
    background-color: forestgreen; 
    width: 100%;
}
#falseAnswer {
    background-color: #e64c41; 
    width: 100%;
}
.zi-4 {
   z-index:4; 
}

.wrongTask > div:first-of-type:not(:last-child){ 
    background-color: #ffc9c5  !important;
}
.wrongTask:hover > div:first-of-type:not(:last-child){
    background-color: #e48d7d !important;
}

.process-table td {
    padding-left: 0px;
    padding-right: 15px;
}
.process-table td:last-child {
    padding-right: 0px;
    text-align: center;
}


.input-pincode {
    color: rgb(0, 142, 207);
    display: block;
    border: none;
    padding: 0;
    margin: auto;
    width: 120px;
    font-size: 1.5rem;
    background: repeating-linear-gradient(90deg, rgb(0, 142, 207) 0, rgb(0, 142, 207) 1ch, transparent 0, transparent 1.5ch) 0 100%/9ch 2px no-repeat;
    letter-spacing: 0.5ch;
  }

  .input-pincode:focus {
    outline: none;
    color: dodgerblue;
  }

  .input-pincode-loggedin {
    color: rgb(0, 142, 207);
    display: block;
    border: none;
    padding: 0;
    margin: auto;
    width: 120px;
    font-size: 1.5rem;
    background: repeating-linear-gradient(90deg, rgb(0, 142, 207) 0, rgb(0, 142, 207) 1ch, transparent 0, transparent 1.5ch) 0 100%/9ch 2px no-repeat;
    letter-spacing: 0.5ch;
  }

  .input-pincode-loggedin:focus {
    outline: none;
    color: dodgerblue;
  }

  .button {
	background-color: transparent;
	border: 1px solid #525a64;
    border-radius: 10px;
	cursor: pointer;
	/* letter-spacing: 0.2125rem; */
	line-height: 1;
	overflow: hidden;
	/* padding: 5px 5px; */
	position: relative;
	text-align: center;
	/* text-transform: uppercase; */
	transition: 
		background-color 0.2s cubic-bezier(0.19, 1, 0.22, 1),
		border 1s cubic-bezier(0.19, 1, 0.22, 1),
		color 0.6s cubic-bezier(0.19, 1, 0.22, 1);
	user-select: none;
}

.button a {
	color: #969696;
	font-family: "Varela Round";
	text-decoration: none;
	white-space: nowrap;
    font-family: var(--bs-font-sans-serif);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

.button .mask {
	background-color: #fff;
	background-color: rgba(255, 255, 255, 0.5);
	height: 100px;
	position: absolute;
	transform: translate3d(-120%, -50px, 0) rotate3d(0, 0, 1, 45deg);
	transition: all 1.1s cubic-bezier(0.19, 1, 0.22, 1);
	width: 200px;
}

.button .shift {
	display: inline-block;
	transition: all 1.1s cubic-bezier(0.19, 1, 0.22, 1);
	vertical-align: text-top;
}

.button:hover {
	background-color: rgba(255, 255, 255, 0.05);
	border-color: #fff;
	box-shadow: 0 0 5px rgba(255, 245, 245, 0.8);
}

.button:hover a {
	color: #fff !important;
}

.button:hover .mask {
	background-color: #fff;
	transform: translate3d(120%, -100px, 0) rotate3d(0, 0, 1, 90deg);
}

.button:hover .shift {
	transform: translateX(5px);
}

.card-view-title {
    margin-right: 15px;
}

.button:active {
	background-color: #fff;
}

.button:active a {
	color: #202020;
}

.btn-join, .btn-create {
    width: 120px;
}


.btn-join a > svg {
    color: #7fff0078 !important;
    }

.btn-create a > svg {
    color: #00ffff69 !important;
}

.btn-join:hover svg {
    color: #7fff00 !important;
}

.btn-create:hover svg {
    color: #00ffff !important;
}

body.show {
	background-color: #282828;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/*
.button:hover {
	background-image: url('http://.com/img/codepen/savvy.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
*/